// File: _buttons.scss

button {
  border: none;
}

.btn-round {
  background-color: #cdcdcd;
  border-radius: 3rem;
  letter-spacing: 0.5px;
  margin: 4rem;
  padding: 1rem 4rem;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s;

  a {
    color: #464646;
    transition: 0.5s;

    &:hover {
      color: #464646;
    }
  }
}

.btn-round:hover {
  background-color: #f0f0f0;
}

.btn-white {
  color: $white;
  border: $white 1px solid;
}

.btn-white,
.btn-black {
  background: none;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  font-weight: $bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1rem 5rem;
  margin-top: 10px;
}

.btn-black {
  color: $black;
  border: $black 2px solid;
  transition: 0.5s;

  &:hover {
    color: $white;
    background-color: $black;
  }
}

.btn-order-now {
  margin: 20px;

  a {
    color: #f0f0f0;
    transition: 0.5s;

    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}

.btn-close {
  background-color: #cdcdcd;
  border-radius: 3rem;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s;
}
