// File: _variables.scss

/* COLORS */

$white: #f7f7f7;
$black: #262626;
$hyperlink: #6996bd;

/* FONT SIZE */

$title: 3rem;
$date: 1.5rem;
$paragraph: 1.7rem;

/* FONT WEIGHT */

$thin: 300;
$semi-bold: 700;
$bold: 800;

/* MARGINS & PADDINGS */

$marginBottom: 3rem;
